@use 'mixins' as *;

.btn {
  @include font($size: 13, $line-height: 1);
  @include flex($align: center, $justify: center, $gap: 8);
  @include size($min-width: 80);
  @include padding($y: 8, $x: 18);
  background: var(--chrome);
  color: var(--ink);
  box-shadow: var(--bevel-out);
  border: 0;
  cursor: default;
  white-space: nowrap;
  image-rendering: pixelated;

  &:not(:disabled):not([data-pressed='false']):active,
  &[data-pressed='true'] {
    box-shadow: var(--bevel-in);
    position: relative;
    top: 1px;
    left: 1px;
  }

  &[data-default='true'] {
    outline: 1px solid var(--ink);
    outline-offset: -1px;
  }

  &:focus-visible {
    outline: 1px dotted var(--ink);
    outline-offset: -4px;
    box-shadow:
      var(--bevel-out),
      1px 1px 0 0 var(--bevel-xlo);
  }

  &:disabled {
    color: var(--ink-dim);
    text-shadow: 1px 1px 0 var(--bevel-hi);
    cursor: not-allowed;
  }
}
