@font-face {
  font-family: 'Mona';
  src: url('/fonts/Mona12.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mona';
  src: url('/fonts/Mona12-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mona Emoji';
  src: url('/fonts/Mona12ColorEmoji.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  unicode-range:
    U+1F300-1FAFF, U+1F600-1F64F, U+1F680-1F6FF, U+1F900-1F9FF, U+2600-26FF, U+2700-27BF, U+FE0F,
    U+200D;
}

@font-face {
  font-family: 'Mona Small';
  src: url('/fonts/Mona10.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
